<p style="color: green"><%= notice %></p>

<%= render @return_request %>

<div>
  <%= link_to "Edit this return request", edit_return_request_path(@return_request) %> |
  <%= link_to "Back to return requests", return_requests_path %>

  <%= button_to "Destroy this return request", @return_request, method: :delete %>
</div>
