<p style="color: green"><%= notice %></p>

<%= render @attribute_value %>

<div>
  <%= link_to "Edit this attribute value", edit_attribute_value_path(@attribute_value) %> |
  <%= link_to "Back to attribute values", attribute_values_path %>

  <%= button_to "Destroy this attribute value", @attribute_value, method: :delete %>
</div>
