<p style="color: green"><%= notice %></p>

<%= render @user_identity %>

<div>
  <%= link_to "Edit this user identity", edit_user_identity_path(@user_identity) %> |
  <%= link_to "Back to user identities", user_identities_path %>

  <%= button_to "Destroy this user identity", @user_identity, method: :delete %>
</div>
