<p style="color: green"><%= notice %></p>

<%= render @role_permission %>

<div>
  <%= link_to "Edit this role permission", edit_role_permission_path(@role_permission) %> |
  <%= link_to "Back to role permissions", role_permissions_path %>

  <%= button_to "Destroy this role permission", @role_permission, method: :delete %>
</div>
