<p style="color: green"><%= notice %></p>

<%= render @refund %>

<div>
  <%= link_to "Edit this refund", edit_refund_path(@refund) %> |
  <%= link_to "Back to refunds", refunds_path %>

  <%= button_to "Destroy this refund", @refund, method: :delete %>
</div>
