<p style="color: green"><%= notice %></p>

<%= render @promotion %>

<div>
  <%= link_to "Edit this promotion", edit_promotion_path(@promotion) %> |
  <%= link_to "Back to promotions", promotions_path %>

  <%= button_to "Destroy this promotion", @promotion, method: :delete %>
</div>
