<p style="color: green"><%= notice %></p>

<%= render @product_variant_attr_value %>

<div>
  <%= link_to "Edit this product variant attr value", edit_product_variant_attr_value_path(@product_variant_attr_value) %> |
  <%= link_to "Back to product variant attr values", product_variant_attr_values_path %>

  <%= button_to "Destroy this product variant attr value", @product_variant_attr_value, method: :delete %>
</div>
